@import "../variables";

.heading-sanctum {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  .container-description-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    position: relative;

    a,
    p {
      height: fit-content;
    }

    img {
      width: 6vw;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -0%);
    }
  }
}

.logo-sanctum-heading-page {
  width: 100%;
  z-index: 1;
}

@media (max-width: 800px) {
  .logo-sanctum-heading-page {
    width: 95%;
    margin-top: 20px;
  }
  .container-description-heading {
    flex-direction: column;
    margin-top: 20px !important;
    img {
      width: 40px !important;
      top: 40px !important;
    }
  }
}

.main-content-sanctum-heading {
  width: 100%;
  height: 70vh;
  background-color: $staminadark1;
  border-radius: 8px;
  margin-top: 10vh;
  padding: 10px;
  position: relative;

  .main-cover-sanctum {
    width: 100%;
    border-radius: 6px;
    position: relative;
    height: 100%;
    object-fit: cover;
    // filter: saturate(0.5);
  }

  .article-main-sanctum-heading {
    width: 28vw;
    height: 30vh;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: rgba(21, 21, 21, 0.434);
    backdrop-filter: blur(15px);
    border-radius: 6px;
    padding: 20px 25px;
    color: $staminalight1;
    border: 0.5px solid rgba(255, 255, 255, 0.3);

    .infos-link-block {
      left: 0;
      span {
        background-color: $staminalight1 !important;
        color: $staminadark1 !important;
      }
    }

    .text-small {
      margin-top: 15px;
    }
  }
}

@media (max-width: 800px) {
  .main-content-sanctum-heading {
    margin-top: 13vh;
    height: 85vh;
    padding: 0;

    .article-main-sanctum-heading {
      background: none;
      backdrop-filter: none;
      height: calc(100% - 20px);
      top: 10px;
      left: 10px;
      width: calc(100% - 20px);
      border: none;
      padding: 15px;
      display: flex;
      //   justify-content: flex-end;
      align-items: flex-end;

      .description-main-content {
        margin-bottom: 50px;
        backdrop-filter: blur(5px);
        border-radius: 5px;
        padding: 15px 15px 30px;
        background: rgba(21, 21, 21, 0.434);
      }
    }
  }
}

.quadruptyque-home {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 17vh;
  flex-wrap: wrap;
  a {
    width: calc(25% - 8.75px);
    border-radius: 10px;

    div {
      position: relative;
      .infos-link-block {
        position: absolute;
      }
    }

    img {
      width: 100%;
      height: 58vh;
      object-fit: cover;
      border: 1px solid rgba(255, 255, 255, 0.15);
      border-radius: 10px;
    }

    h3 {
      margin-top: 10px;
      width: 80%;
    }
  }
}

@media (max-width: 800px) {
  .quadruptyque-home {
    margin-top: 10vh;
    a {
      width: calc(50% - 7.5px);
      margin-bottom: 25px;
      position: relative;

      img {
        height: 35vh;
      }

      h3 {
        // position: absolute;
        // left: 0;
        // top: -15px;
        padding: 0px 5px;
        width: 100%;
        z-index: 10;
      }

      .linear-gradient {
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        position: absolute;
        top: 1px;
        left: 1px;
        border-radius: 10px;
        background: linear-gradient(
          167deg,
          #000 -3.07%,
          rgba(0, 0, 0, 0) 79.95%
        );
      }
    }
  }
}

.video-background-sanctum {
  width: 40%;
  height: 60vh;
  object-fit: cover;
  position: absolute;
  top: 30vh;
  border-radius: 5px;
  filter: blur(66px);
  opacity: 0.33;
  z-index: 0;
  // display: none;
}
