.container-message-join {
  //   border: 1px solid red;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 15vh;

  .main-intro-text {
    line-height: 120%;
    margin-top: 5vh;
  }
}

@media (max-width: 800px) {
  .container-message-join {
    width: 90%;
    margin-top: 10vh;
  }
}

.pill-subtitle {
  width: fit-content;
  padding: 12px 20px 12px 25px;
  border-radius: 104px;
  background: rgba(127, 130, 130, 0.29);
  display: flex;
  align-items: center;
  img {
    margin-left: 15px;
  }
}

.bullet-list-benefits {
  width: 100%;
  //   border: 1px solid red;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}

.benefit-bullet {
  display: flex;
  margin-bottom: 20px;
  img {
    width: 30px;
    margin-right: 20px;
  }
}

.container-blocks-landing {
  width: 50%;
  margin-top: 5vh;

  .pill-inside-content {
    width: fit-content;
    padding: 12px 15px 12px 20px;
    border-radius: 104px;
    background: rgba(127, 130, 130, 0.29);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    p {
      position: relative;
      top: 1px;
    }

    img {
      margin-left: 10px;
    }
  }
}

@media (max-width: 800px) {
  .container-blocks-landing {
    width: 100%;

    .pill-inside-content {
      margin-bottom: 20px;
    }
  }
}

.main-content-firstblock {
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  background-color: $staminadark2;
  padding: 30px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;

  p {
    z-index: 1;
    position: relative;
  }
  .text-small {
    margin-top: 10px;
    line-height: 150% !important;
  }
}

.button-inside-card {
  background-color: $staminalight1;
  display: flex;
  align-items: center;
  width: fit-content;
  color: $staminadark2;
  padding: 5px 5px 5px 20px;
  border-radius: 200px;
  margin-top: 30px;
  transition: 0.3s ease;
  border: 1px solid $staminalight1;
  cursor: pointer;
  .background-arrow {
    background-color: $staminadark2;
    // padding: 15px;
    border-radius: 200px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    transition: 0.3s ease;

    img {
      width: 12px;
      transition: 0.3s ease;
    }
  }

  &:hover {
    border: 1px solid $staminalight1;
    background-color: $staminadark2;
    color: $staminalight1;
    .background-arrow {
      background-color: $staminalight1;
      img {
        mix-blend-mode: difference;
      }
    }
  }
}

@media (max-width: 800px) {
  .button-inside-card {
    padding: 4px 4px 4px 20px;
    .background-arrow {
      width: 35px;
      height: 35px;
      margin-left: 10px;
      img {
        width: 11px;
      }
    }
  }
}

@media (max-width: 800px) {
  .main-content-firstblock {
    padding: 20px;
    height: fit-content;
  }
}

.sanctum-cover {
  position: relative;
  bottom: -30px;
  left: -15%;
  width: 170%;
  margin-bottom: -15vh;
  margin-top: -10vh;
  top: 10vh;
}

.cover-consulting {
  width: 45%;
  margin-left: 25%;
  margin-top: 7vh;
  margin-bottom: 5vh;
}

.cover-letters {
  width: 70%;
  margin-left: 15%;
  margin-top: 7vh;
  margin-bottom: 0vh;
}

.cover-book-vision {
  width: 90%;
  margin-top: -23vh;
  margin-left: 5%;
  position: relative;
  top: 30vh;
}

@media (max-width: 800px) {
  .sanctum-cover {
    margin-bottom: -5vh;
  }

  .cover-consulting {
    width: 60%;
    margin-left: 20%;
    margin-top: 4vh;
  }

  .cover-book-vision {
    width: 90%;
    margin-top: -23vh;
    margin-bottom: 13vh;
    margin-left: 5%;
    position: relative;
    top: 30vh;
  }
}
