<div class="first-part-footer-links">
    <div class="list-items-footer">
        <a href="" class="item-footer-list">
            <p class="nav-item-typo">01</p>
            <p class="title-item-footer big-text-classic ">Le Club</p>
        </a>
        <a href="" class="item-footer-list">
            <p class="nav-item-typo">02</p>
            <p class="title-item-footer big-text-classic ">La Vision du club</p>
        </a>
        <a href="" class="item-footer-list ">
            <p class="nav-item-typo">03</p>
            <p class="title-item-footer big-text-classic ">
                "Vis<span class="italic">I</span>ON" : Le Livre
            </p>
        </a>


    </div>
    <div class="list-items-footer">
        <a href="" class="item-footer-list ">
            <p class="nav-item-typo">04</p>
            <p class="title-item-footer big-text-classic ">Les Lettres Privées</p>
        </a>
        <a href="" class="item-footer-list">
            <p class="nav-item-typo">05</p>
            <p class="title-item-footer big-text-classic ">S<span class="italic">A</span>NCTUM : Plateforme
                d'Excellence</p>
        </a>

        <a href="" class="item-footer-list ">
            <p class="nav-item-typo">07</p>
            <p class="title-item-footer big-text-classic ">Collection Privée</p>
        </a>


    </div>
    <div class="list-items-footer">
        <a href="" class="item-footer-list">
            <p class="nav-item-typo">08</p>
            <p class="title-item-footer big-text-classic ">La Conciergerie</p>
        </a>
        <a href="" class="item-footer-list">
            <p class="nav-item-typo">09</p>
            <p class="title-item-footer big-text-classic "> Conseil & Consulting</p>
        </a>
        <a href="" class="item-footer-list">
            <p class="nav-item-typo">10</p>
            <p class="title-item-footer big-text-classic "> Coaching</p>
        </a>


    </div>
    <div class="list-items-footer">
        <a href="" class="item-footer-list">
            <p class="nav-item-typo">11</p>
            <p class="title-item-footer big-text-classic ">Contact</p>
        </a>
        <a href="" class="item-footer-list">
            <p class="nav-item-typo">12</p>
            <p class="title-item-footer big-text-classic ">Press Kit</p>
        </a>


        <a href="" class="item-footer-list">
            <p class="nav-item-typo">13</p>
            <p class="title-item-footer big-text-classic "> Mentions Légales</p>
        </a>

    </div>

</div>

<img class="footer-logo footer-logo-desktop"
    src="https://staminaclub.netlify.app/public/content/brand-assets/identity-logo-footer-desktop-dark.svg" alt="">
<img class="footer-logo footer-logo-mobile"
    src="https://staminaclub.netlify.app/public/content/brand-assets/identity-logo-footer-mobile-dark.svg" alt="">