@font-face {
  font-family: "Stamina";
  src: url("../../content/fonts/staminaregular.woff2") format("woff2"),
    url("../../content/fonts/staminaregular.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Stamina Italic";
  src: url("../../content/fonts/staminaitalic.woff2") format("woff2"),
    url("../../content/fonts/staminaitalic.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Stamina Bold";
  src: url("../../content/fonts/staminabold.woff2") format("woff2"),
    url("../../content/fonts/staminabold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}
