@import "./variables";

.loader {
  width: 100%;
  height: 100vh;
  background-color: $staminadark3;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -99999999999;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: appearLoader 3s ease;
  opacity: 0;
  display: flex;

  .container-img-loader {
    position: absolute;
    left: 50%;
    top: 49%;
    // margin-top: 10px;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
      margin-top: 30px;
      font-size: 10px;
      color: #e8e4df;
    }
    img {
      z-index: 200 !important;

      //   animation: fadeUp 1s ease;
      transition: 0.3s;
      position: relative;
      opacity: 1;
      height: 10vh;
    }
  }

  @keyframes fadeUp {
    0% {
      bottom: 100px;
      opacity: 0;
    }

    100% {
      bottom: 30px;
      opacity: 1;
    }
  }
}

@keyframes appearLoader {
  0% {
    opacity: 1;
    display: flex;
    z-index: 999;
  }

  59% {
    opacity: 1;
  }

  90% {
    opacity: 0;
    display: flex;
    z-index: 999;
  }

  91% {
    display: none;
    z-index: -99999999999;
  }

  100% {
    display: none;
  }
}

@media (max-width: 800px) {
  .loader {
    .container-img-loader {
      top: 43vh;
      left: 51%;
      // img {
      //   height: 90px;
      // }
    }
  }
}
