@import "./variables";

nav {
  width: fit-content;
  display: flex;
  //   border: 1px solid red;
  padding: 4px 5px;
  border-radius: 500px;
  position: fixed;
  bottom: 4vh;
  background: rgba(203, 197, 188, 0.58);
  backdrop-filter: blur(12.5px);
  z-index: 101;
}

.nav-item {
  padding: 1.5vh 15px 1.4vh;
  //   border: 1px solid blue;
  border-radius: 500px;
}

.nav-item:hover {
  background-color: $staminalight1;
}

.active-item-menu {
  background-color: $staminalight1;
}

.menu-item {
  margin-right: 5px;
  cursor: pointer;
}

.club-item {
  margin-right: 5px;
}

@media (max-width: 800px) {
  .nav-item {
    padding: 1.3vh 15px 1.2vh;
  }
}
