@import "./variables";

.sidebar {
  width: 35vw;
  height: 80vh;
  background-color: $staminadark2;
  position: fixed;
  bottom: -100vh;
  border-radius: 10px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  transition: 0.2s $easeOut;
}

.back-blur-layer-sidebar {
  position: fixed;
  background-color: #e6e6e600;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  z-index: -10;
  opacity: 0;
  backdrop-filter: blur(05px);
  transition: 0.2s $easeOut;
  cursor: pointer;
}

.to-back-blur {
  z-index: 99;
  opacity: 1;
}

.close-sidebar {
  color: $staminalight1;
  margin-top: 20px;
  padding: 5px 8px;
  border-radius: 4px;
  background-color: $staminagrey1;
  width: fit-content;
  transition: $short $easeOut;
  cursor: pointer;

  &:hover {
    background-color: $staminalight1;
    color: $staminadark1;
  }
}

.indication-sidebar-txt {
  color: $staminalight1;
  width: 85%;
  text-align: left;
  margin-top: 20px;
}

.nav-menu-sidebar {
  display: flex;
  flex-direction: column;
  width: calc(85%);
  margin-top: 10px;
  color: $staminalight1;
}

.nav-item-sidebar {
  margin-bottom: 13px;
}

.monogram-sidebar {
  position: absolute;
  bottom: 100px;
  width: 5vw;
  // opacity: 0;
}

.to-left-menu {
  opacity: 1;
  bottom: 2vh;
}

@media (max-width: 800px) {
  .sidebar {
    width: calc(100% - 40px);
    height: 75vh;
  }

  .nav-item-sidebar {
    margin-bottom: 7px;
  }

  .monogram-sidebar {
    width: 13%;
  }
}
