@import "./fonts";

a {
  color: currentColor;
  text-decoration: none;
}

.italic {
  font-family: "Stamina Italic";
}

.button {
  padding: 10px 15px 9px 15px;
  // border: 1px solid blue;
  border-radius: 500px;
  background-color: $staminalight1;
  color: $staminadark1;
  border: 1px solid transparent;
  transition: $short $easeOut;
  &:hover {
    background-color: transparent;
    border: 1px solid $staminalight1;
    color: $staminalight1;
  }
}

.text-small {
  font-family: "Stamina";
  font-size: calc(
    22px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  letter-spacing: -0.03em;
  line-height: 130%;
}

@media (max-width: 800px) {
  .text-small {
    font-size: 14px;
  }
}

.text-classic {
  font-family: "Stamina";
  font-size: calc(
    26px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  letter-spacing: -0.03em;
  line-height: 150%;
}

@media (max-width: 800px) {
  .text-classic {
    font-size: 18px;
  }
}

.text-medium {
  font-family: "Stamina";
  font-size: calc(
    28px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  letter-spacing: -0.03em;
  line-height: 130%;
}

@media (max-width: 800px) {
  .text-medium {
    font-size: 21px;
  }
}

.big-text-classic {
  font-family: "Stamina";
  font-size: calc(
    32px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  letter-spacing: -0.03em;
  line-height: 140%;
  // text-align: center;
}

@media (max-width: 800px) {
  .big-text-classic {
    font-size: 23px;
  }
}

.classic-link {
  text-transform: uppercase;
  font-size: calc(
    18px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  font-family: "Stamina Bold";
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 100%;
}

.underlined-type1 {
  outline: 0;
  text-decoration: none;
  color: currentColor;
  position: relative;
  cursor: pointer;

  &::after {
    content: "";

    width: 100%;
    position: absolute;
    left: 0;
    bottom: -2px;

    border-width: 0 0 1px;
    border-style: solid;
  }
}

@media (max-width: 800px) {
  .classic-link {
    font-size: 12px;
    line-height: 130%;
  }
}

.nav-item-sidebar {
  font-family: "Stamina";
  font-size: calc(
    32px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  letter-spacing: -0.03em;
  line-height: 100%;
}

@media (max-width: 800px) {
  .nav-item-sidebar {
    font-size: 24px;
    line-height: 130%;
  }
}

.nav-item-typo {
  text-align: center;
  text-transform: uppercase;
  font-size: calc(
    17px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  font-family: "Stamina Bold";
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 100%;
  position: relative;
}

@media (max-width: 800px) {
  .nav-item-typo {
    font-size: 11px;
    line-height: 130%;
  }

  .mini-nav-item-typo {
    font-size: 11px;
    line-height: 100%;
  }
}

.centered-bold-text {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: calc(
    17px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  font-family: "Stamina Bold";
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 150%;
}

@media (max-width: 800px) {
  .centered-bold-text {
    font-size: 11px;
  }
}
