$staminalight1: #e8e4df;
$staminalight2: #dbd5cd;
$staminadark1: #001d23;
$staminadark2: #01151a;
$staminadark3: #01151a;
$staminagrey1: #1f3436;
$easeOut: cubic-bezier(0.08, 0.81, 0.51, 0.97);
$easeInOut: cubic-bezier(1, 0.02, 0.51, 0.97);
$short: 0.3s;
