$staminalight1: #e8e4df;
$staminalight2: #dbd5cd;
$staminadark1: #021518;
$staminadark2: #0a1f24;
$staminadark3: #000d10;
$staminadark4: #000;
$staminagrey1: #1f3436;
$staminared1: #290501;
$easeOut: cubic-bezier(0.08, 0.81, 0.51, 0.97);
$easeInOut: cubic-bezier(1, 0.02, 0.51, 0.97);
$short: 0.3s;

// $staminalight1: #000d10;
// $staminalight2: #000d10;
// $staminadark1: #e8e4df;
// $staminadark2: #dbd5cd;
// $staminadark3: #dbd5cd;
// $staminadark4: #dbd5cd;
// $staminagrey1: #dbd5cd;
// $staminared1: #3b0600;
