@import "./reset", "./variables", "./fonts", "./loader", "./noise",
  "./typography", "./header", "./navigation", "./loader", "./sidebar",
  "./blocks", "./content-blocks", "./specific-blocks", "./footer";

html,
body {
  width: 100%;
  overflow-x: hidden;
}

html {
  padding: 0 4vw;
  // background-color: $staminadark3;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //   font-family: "Stamina" !important;
  color: $staminadark1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $staminalight1;
  width: 100vw;
  margin-left: -4vw;
}

main {
  width: 38vw;
  //   border: 1px solid red;
  // padding-bottom: 30vh;
}

@media (min-width: 1250px) {
  main {
    width: 35vw;
  }
}

.mobile-only {
  display: none;
}

h1 {
  font-family: "Stamina";
}

.main-spacer {
  margin-top: 20vh;
}

.nano-spacer {
  margin-top: 1vh;
}

.medium-spacer {
  margin-top: 6vh;
}
@media (max-width: 800px) {
  html {
    padding: 0 10px;
    // border: 1px solid blue;
  }
  body {
    margin: 0px;
    position: relative;
    width: 100%;
  }

  main {
    width: 100%;
  }

  .mobile-only {
    display: block;
  }

  .no-mobile {
    display: none;
  }
}
