@import "../variables";

.lastone-container-home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;

  .big-text-classic {
    margin-top: 10vh;
    width: 100%;
    margin-bottom: 5vh;
  }
}

.definition-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100%);
  margin-top: 0vh;

  p {
    width: 100%;
    text-align: left;
  }

  .nav-item-typo {
    line-height: 150%;
  }

  .text-classic {
    padding-right: 5vw;
  }

  .classic-link {
    margin-top: 5vh;
  }
}

.lastone-home-indication {
  position: relative;
  // margin-top: 20vh;
  width: 100%;
  img {
    position: absolute;
    left: -20vw;
  }
}

.container-content-lastones {
  width: 100%;
}



@media (max-width: 800px) {
  .lastone-container-home {
    .big-text-classic {
      width: 85%;
      margin-left: 7.5%;
    }
  }
  .definition-container {
    width: 85%;
    margin-left: 7.5%;
  }

  .lastone-home-indication {
    width: 85%;
    margin-top: 0vh;
    margin-left: 7.5%;
    margin-bottom: 40px;
    img {
      position: relative;
      left: 0;
    }
  }

  .container-content-lastones {
    margin-top: 5vh;
  }
}

.last-ones-content {
  width: 100%;
}
